* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wp {
    width:800px;
    margin: 20px;
    line-height: 1.6;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

li {
    list-style: none;
}